.btn {
  display: inline-block;
  border: 1px solid;
  padding:5px 10px;
  border-radius:4px;
  color: $secondary-color;
  margin-top: 1em;
 }

 .btn-primary {
  background: $brown;
   a{
    color: $black;
   }   
 }

 .btn-primary:hover{
   color: $light-brown;
 }
