.btn {
  display: inline-block;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 4px;
  color: $secondary-color;
  margin-top: 1em;
  @include lg-screen{
    width: 11%;
    font-size: 2rem;
  }

}



.btn-primary {
  background: $background-gradient;
  a {
    color: #b6b1b1;
  }
}

.btn-primary:hover {
  color: $light-brown;
}
