@font-face {
  font-family: "share-tech-mono";
  src: url("/src/fonts/ShareTechMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

html{ 
  font-size: 62.5%;
}
body{
  font-family: $font;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $secondary-color;
}