*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol,
dd {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

@font-face {
  font-family: "share-tech-mono";
  src: url("/src/fonts/ShareTechMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "share-tech-mono";
  background-image: linear-gradient(to left bottom, #41343f, #473a46, #4e404e, #544755, #5a4d5d, #554a59, #504656, #4b4352, #3a3542, #2b2832, #1d1b23, #0e0d14);
}

.intro {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
@media only screen and (max-width: 1080px) {
  .intro {
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    gap: 25px;
    width: 90%;
  }
}

.about-container {
  color: #dad0d0;
  font-size: 3rem;
}
@media only screen and (max-width: 1080px) {
  .about-container {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  }
}
@media only screen and (max-width: 767px) {
  .about-container {
    font-size: 2rem;
  }
}

.name h2 {
  position: relative;
  width: max-content;
  letter-spacing: 0.5rem;
}

.name h2::before,
h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.name h2::before {
  background: #625668;
  animation: typewriter 4s steps(20) 1s forwards;
}

.name h2::after {
  width: 0.125em;
  background: #cac9e3f5;
  animation: typewriter 4s steps(20) 1s forwards, blink 1s steps(20) infinite;
}

.info {
  margin-top: 0.5em;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 5.5s forwards;
}
@media only screen and (max-width: 1080px) {
  .info {
    margin-bottom: 3rem;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-container {
  order: -1;
}
@media only screen and (max-width: 1080px) {
  .image-container {
    order: 0;
  }
}
.image-container img {
  height: 50vh;
  width: 370px;
  object-fit: contain;
}
@media only screen and (max-width: 1080px) {
  .image-container img {
    width: auto;
  }
}

.landing-page-icons {
  display: flex;
  gap: 45px;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
}
@media only screen and (max-width: 1080px) {
  .landing-page-icons {
    flex-direction: row;
  }
}
.landing-page-icons .fab,
.landing-page-icons .fas {
  color: #0E0D14;
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
}
.landing-page-icons .fab:hover,
.landing-page-icons .fas:hover {
  color: #dad0d0;
  transform: scale(1.5);
}

.nav-bar {
  background: #0E0D14;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  gap: 7%;
}

@media only screen and (max-width: 767px) {
  .nav-bar {
    width: 100%;
  }
}
.nav-link {
  position: relative;
  background: linear-gradient(to left bottom, #0e0d14, #302d32, #534e54, #7a7377, #a2999c, #b4a8aa, #c7b7b8, #dac6c5, #dabfbc, #d9b8b2, #d7b2a7, #d4ac9c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: pink;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.btn {
  display: inline-block;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  color: #000000;
  margin-top: 1em;
  width: 20%;
}
@media only screen and (max-width: 1080px) {
  .btn {
    max-width: 12%;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .btn {
    max-width: 13%;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .btn {
    max-width: 17%;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 575px) {
  .btn {
    max-width: 20%;
    font-size: 1.5rem;
  }
}

.btn-primary {
  background: linear-gradient(to left bottom, #41343f, #473a46, #4e404e, #544755, #5a4d5d, #554a59, #504656, #4b4352, #3a3542, #2b2832, #1d1b23, #0e0d14);
}
.btn-primary a {
  color: #b6b1b1;
}

.btn-primary:hover {
  color: #625668;
}

.container-about-me {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  font-size: 2rem;
}
@media only screen and (max-width: 1080px) {
  .container-about-me {
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: unset;
    align-items: unset;
    width: 90%;
    margin: 0 auto;
  }
}

.about-text {
  width: 100%;
  margin-top: 10rem;
}
.about-text h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #0E0D14;
}
.about-text p {
  font-family: monospace;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.skills-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1080px) {
  .skills-container {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
}
.skills-container h3 {
  font-size: 2.5rem;
  color: #0E0D14;
  font-weight: 700;
  margin-bottom: 3rem;
}
.skills-container p {
  font-family: monospace;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.skills-text {
  width: 50%;
}
@media only screen and (max-width: 1080px) {
  .skills-text {
    width: 90%;
  }
}

.skill-sets div {
  border-radius: 20px;
}

.circle1 {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #625668;
}

.circle2 {
  transform: translate(18%, 18%);
  width: 300px;
  height: 300px;
  background-color: #625668;
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgba(53, 41, 67, 0.9);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
}

.circle3 {
  transform: translate(25%, 25%);
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #625668;
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgba(53, 41, 67, 0.9);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
}

.skill-icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: #0E0D14;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.icon1 {
  top: 0px;
  left: 0px;
  color: #f494e5;
}

.icon2 {
  top: 0px;
  right: 0px;
  color: #fe5d39;
}

.icon3 {
  bottom: 0px;
  left: 0px;
  color: white;
}

.icon4 {
  bottom: 0px;
  right: 0px;
  color: #f29100;
}

.icon5 {
  top: 0;
  left: 0px;
  color: #5ccdea;
}

.icon6 {
  top: 0;
  right: 0px;
  color: #8512f3;
}

.icon7 {
  bottom: 0px;
  right: 0px;
  color: #d61b15;
}

.icon8 {
  bottom: 0px;
  left: 0px;
  color: #5e9255;
}

.icon9 {
  top: 0px;
  left: 0px;
  color: #c13533;
}

.icon10 {
  top: 0px;
  right: 0px;
  color: #2791eb;
}

.icon11 {
  top: 40%;
  left: 40%;
  color: #efd81d;
}

.icon12 {
  bottom: 0px;
  left: 0px;
  color: #f25cf2;
}

.icon13 {
  bottom: 0px;
  right: 0px;
  color: #361a6f;
}

.project-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-text {
  font-size: 2.5rem;
  color: #0E0D14;
  font-weight: 700;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 767px) {
  .project-text {
    margin-left: 3rem;
  }
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  .images {
    align-items: center;
    justify-content: center;
  }
}
.images img {
  object-fit: contain;
  overflow: hidden;
}

.image {
  max-width: 500px;
  position: relative;
  overflow: hidden;
}

.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact h3 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: #0E0D14;
}

.contact-container {
  background-color: linear-gradient(to left bottom, #0e0d14, #302d32, #534e54, #7a7377, #a2999c, #b4a8aa, #c7b7b8, #dac6c5, #dabfbc, #d9b8b2, #d7b2a7, #d4ac9c);
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

.form-container {
  display: flex;
  padding: 3rem;
}

.left-container {
  display: flex;
  flex: 1;
  height: 460px;
  justify-content: center;
  align-items: center;
  color: #dad0d0;
  background-color: linear-gradient(to left bottom, #0e0d14, #302d32, #534e54, #7a7377, #a2999c, #b4a8aa, #c7b7b8, #dac6c5, #dabfbc, #d9b8b2, #d7b2a7, #d4ac9c);
}

.right-container {
  display: flex;
  flex: 1;
  height: 460px;
  background-color: #625668;
  justify-content: center;
  align-items: center;
}
.right-container h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.right-inner-container {
  width: 75%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
}
.left-inner-container h2 {
  font-size: 2.5rem;
}
.left-inner-container p {
  font-size: 1.5rem;
}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}
form .field input[type=text],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 19.5%;
  color: #313a3d;
}
form label {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left bottom, #41343f, #473a46, #4e404e, #544755, #5a4d5d, #554a59, #504656, #4b4352, #3a3542, #2b2832, #1d1b23, #0e0d14);
  width: 100%;
  height: 64px;
  transition: 0.5s ease-in-out;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 1.3rem;
}
@media only screen and (max-width: 767px) {
  form label {
    font-size: 1rem;
  }
}

form #msg {
  transition: all 333ms ease-in-out;
  padding-top: 2rem;
}

form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 140px;
}

form input[type=text]:focus + label,
form input[type=text]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
}

form input[type=submit] {
  background: linear-gradient(to left bottom, #41343f, #473a46, #4e404e, #544755, #5a4d5d, #554a59, #504656, #4b4352, #3a3542, #2b2832, #1d1b23, #0e0d14);
  color: #dad0d0;
  -webkit-appearance: none;
  border: none;
  position: relative;
  width: 30%;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

form input[type=submit]:hover,
form input[type=submit]:focus {
  background: linear-gradient(to left bottom, #0e0d14, #302d32, #534e54, #7a7377, #a2999c, #b4a8aa, #c7b7b8, #dac6c5, #dabfbc, #d9b8b2, #d7b2a7, #d4ac9c);
  color: #0E0D14;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: 1px solid #41343F;
}

@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }

  .large-view {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .small-view {
    display: none;
  }
}
form p {
  text-align: left;
}

main {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
  color: #dad0d0;
}

@media only screen and (max-width: 767px) {
  body {
    max-width: 1280px;
    padding: 0;
  }
}

/*# sourceMappingURL=main.css.map */
