*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol,
dd {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

@font-face {
  font-family: "share-tech-mono";
  src: url("../../fonts/ShareTechMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "share-tech-mono";
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #0d0f15;
}

.intro {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.about-container {
  font-size: 3rem;
  color: #cac9e3f5;
}

.name h2 {
  position: relative;
  width: max-content;
  letter-spacing: 0.5rem;
}

.name h2::before, h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.name h2::before {
  background: #0d0f15;
  animation: typewriter 4s steps(20) 1s forwards;
}

.name h2::after {
  width: 0.125em;
  background: #cac9e3f5;
  animation: typewriter 4s steps(20) 1s forwards, blink 1s steps(20) infinite;
}

.info {
  margin-top: 0.5em;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 5.5s forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-container img {
  height: 70vh;
  object-fit: contain;
}

.landing-page-icons {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-left: 2em;
}
.landing-page-icons .fab,
.landing-page-icons .fas {
  color: #9362ff;
  font-size: 3rem;
  transition: all 0.3s;
}
.landing-page-icons .fab:hover,
.landing-page-icons .fas:hover {
  color: #dad81f;
  transform: scale(1.2);
}

.nav-bar {
  margin-left: auto;
  margin-bottom: 1 em;
  background: #0d0f15;
  position: sticky;
  top: 0;
}
.nav-bar ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  gap: 7%;
}

.nav-link {
  position: relative;
  background: linear-gradient(to right, #dad81f 0%, #9362ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.3rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: pink;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

.btn {
  display: inline-block;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 2px;
  color: #0d0f15;
  margin-top: 1em;
}
.btn .fas {
  background: linear-gradient(to right, #0d0f15 0%, #1f3fda 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-primary {
  background: linear-gradient(to right, #f8f503 0%, #6f3be3 100%);
}
.btn-primary a {
  color: #0d0f15;
}

.container-about-me {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #cac9e3f5;
}
.container-about-me .developer-svg img {
  width: 100%;
  height: 100%;
}
.container-about-me h3 {
  font-size: 2.5rem;
  color: #dad81f;
}
.container-about-me p {
  font-family: monospace;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.about-text {
  width: 100%;
}

body {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
