@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

ul,
ol,
dd {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

@font-face {
  font-family: "share-tech-mono";
  src: url("/src/fonts/ShareTechMono-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "share-tech-mono";
  background-color: #1b1b22;
}

.intro {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .intro {
    justify-content: unset;
    align-items: unset;
    gap: 0;
  }
}
@media only screen and (max-width: 575px) {
  .intro {
    justify-content: unset;
    gap: 0;
  }
}

.intro::before {
  content: "";
  position: absolute;
  background-image: url("/src/img/intro.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 340px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
  z-index: -1;
}

.about-container {
  color: #ECECEB;
  font-size: 3rem;
  margin-top: 15rem;
  align-self: flex-start;
  justify-self: flex-start;
}
@media only screen and (max-width: 767px) {
  .about-container {
    font-size: 2rem;
    margin-top: 10rem;
  }
}

.name h2 {
  position: relative;
  width: max-content;
  letter-spacing: 0.5rem;
  font-size: 5rem;
}
.name h2 .full-name {
  color: #FA9129;
}
@media only screen and (max-width: 1080px) {
  .name h2 {
    font-size: 5rem;
  }
}
@media only screen and (max-width: 767px) {
  .name h2 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 575px) {
  .name h2 {
    font-size: 2.5rem;
  }
}

.name h2::before,
h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.name h2::before {
  background: #1b1b22;
  animation: typewriter 4s steps(20) 1s forwards;
}

.name h2::after {
  width: 0.125em;
  background: #cac9e3f5;
  animation: typewriter 4s steps(20) 1s forwards, blink 1s steps(20) infinite;
}

.info {
  margin-top: 0.5em;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 5.5s forwards;
  margin-bottom: 3rem;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-nav {
  background: #1b1b22;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  gap: 6%;
}

.nav-link {
  position: relative;
  color: #ECECEB;
  font-size: 2.3rem;
}

.nav-link::after {
  content: "";
  position: absolute;
  background-color: #FA9129;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: all 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .line1 {
    width: 15px;
    height: 3px;
    margin: 5px 0;
    background: #D19266;
  }

  .line2 {
    width: 30px;
    height: 3px;
    background: #D19266;
  }

  .line3 {
    width: 15px;
    height: 3px;
    margin: 5px 0;
    margin-left: 15px;
    background: #D19266;
  }

  .burger-menu-icon {
    cursor: pointer;
    z-index: 999;
    position: fixed;
    right: 0;
    top: 0;
    background: #1b1b22;
    padding: 1.2rem;
    border-radius: 0% 0% 0% 40%;
  }

  .main-nav {
    width: 24rem;
    height: 100vh;
    background-color: #1b1b22;
    position: fixed;
    top: 0;
    padding: 5rem;
    right: -26rem;
    z-index: 998;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: unset;
    gap: 4%;
    transition: all 650ms ease-in-out;
  }

  .main-nav.active {
    right: 0;
  }

  .nav-link {
    opacity: 0;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: #cecece;
    letter-spacing: 1.5px;
  }

  .toggle {
    background: none;
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
    margin-left: 0px;
  }

  @keyframes navLinkAnimate {
    from {
      opacity: 0;
      transform: translate(50px);
    }
    to {
      opacity: 1;
      transform: translate(0px);
    }
  }
}
.button {
  border-radius: 4px;
  background-color: #C25C20;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button:hover {
  background-color: #33b0a1e0;
  color: #1b1b22;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about .about-me {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  margin-top: 10rem;
  margin-bottom: 5rem;
}
.about .about-me h3 {
  font-size: 7rem;
  color: #FA9129;
  font-weight: 700;
}
@media only screen and (max-width: 575px) {
  .about .about-me h3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .about .about-me h3 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 992px) {
  .about .about-me h3 {
    margin-top: 10rem;
  }
}
.about .about-me .about-icons {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .about .about-me .about-icons {
    font-size: 0.5rem;
  }
}
.about .about-me .about-icons .fab,
.about .about-me .about-icons .fas {
  display: inline-block;
  padding: 0.5em 0.5em;
  color: #B1ACAC;
  background-color: #262a4f;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.about .about-me .about-icons .fab:hover,
.about .about-me .about-icons .fas:hover {
  color: #ECECEB;
  background-color: #FA9129;
  transform: scale(1.5);
}
.about .about-svg {
  width: 50%;
}
.about .about-text {
  width: 100%;
}
.about .about-text p {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.about .about-text p a {
  color: #33b0a1e0;
}
.about .about-text p a:hover {
  color: #FA9129;
}
@media only screen and (max-width: 575px) {
  .about .about-text p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  .about .about-text p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 992px) {
  .about .about-text p {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1080px) {
  .about .about-text p {
    font-size: 2rem;
  }
}

.skills {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 1080px) {
  .skills {
    flex-direction: column;
  }
}
.skills .skills-text {
  font-size: 2rem;
  margin-top: 6rem;
}
.skills .skills-text h3 {
  font-size: 7rem;
  color: #FA9129;
  font-weight: 700;
  margin-bottom: 7rem;
}
@media only screen and (max-width: 767px) {
  .skills .skills-text h3 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 992px) {
  .skills .skills-text h3 {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 575px) {
  .skills .skills-text h3 {
    font-size: 3rem;
  }
}
.skills .skills-text p {
  margin-bottom: 1.5rem;
  text-align: justify;
}
.skills .skills-text .core-skills {
  margin-top: 5rem;
  color: #33b0a1e0;
}
.skills .skills-text .core-skills li {
  margin-left: 10rem;
}
.skills .skills-text .core-skills li::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #C25C20;
  display: inline-block;
  width: 2rem;
}

.skill-sets div {
  border-radius: 50%;
}

.circle1 {
  position: relative;
  width: 400px;
  height: 400px;
  background: radial-gradient(#0b75b9, #3b0d02);
}
@media only screen and (max-width: 767px) {
  .circle1 {
    width: 300px;
    height: 300px;
  }
}

.circle2 {
  transform: translate(18%, 18%);
  width: 300px;
  height: 300px;
  background: radial-gradient(#0b75b9, #3b0d02);
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgba(53, 41, 67, 0.9);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
}
@media only screen and (max-width: 767px) {
  .circle2 {
    width: 220px;
    height: 220px;
  }
}

.circle3 {
  transform: translate(25%, 25%);
  width: 200px;
  height: 200px;
  position: relative;
  background: radial-gradient(#0b75b9, #3b0d02);
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgba(53, 41, 67, 0.9);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
}
@media only screen and (max-width: 767px) {
  .circle3 {
    transform: translate(23%, 23%);
    width: 150px;
    height: 150px;
  }
}

.skill-icons {
  border: 1px dotted #FA9129;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #1b1b22;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  animation: zoom-in-zoom-out 3s ease-out infinite;
}
@media only screen and (max-width: 767px) {
  .skill-icons {
    font-size: 0.8rem;
    width: 35px;
    height: 35px;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
.icon1 {
  top: 0px;
  left: 170px;
  color: #f494e5;
}
@media only screen and (max-width: 767px) {
  .icon1 {
    left: 140px;
  }
}

.icon2 {
  bottom: 0px;
  right: 170px;
  color: #fe5d39;
}
@media only screen and (max-width: 767px) {
  .icon2 {
    right: 140px;
  }
}

.icon3 {
  top: 170px;
  left: 0px;
  color: white;
}
@media only screen and (max-width: 767px) {
  .icon3 {
    top: 140px;
  }
}

.icon4 {
  top: 170px;
  right: 0px;
  color: #f29100;
}
@media only screen and (max-width: 767px) {
  .icon4 {
    top: 140px;
  }
}

.icon5 {
  top: 0;
  left: 0px;
  color: #f66e5f;
}

.icon6 {
  top: 0;
  right: 0px;
  color: #8512f3;
}

.icon7 {
  bottom: 0px;
  right: 0px;
  color: #268ee1;
}

.icon8 {
  bottom: 0px;
  left: 0px;
  color: #5e9255;
}

.icon9 {
  top: 0px;
  left: 0px;
  color: #ea6228;
}

.icon10 {
  top: 0px;
  right: 0px;
  color: #2791eb;
}

.icon11 {
  top: 80px;
  left: 80px;
  color: #efd81d;
}
@media only screen and (max-width: 767px) {
  .icon11 {
    top: 60px;
    left: 60px;
  }
}

.icon12 {
  bottom: 0px;
  left: 0px;
  color: #c13533;
}

.icon13 {
  bottom: 0px;
  right: 0px;
  color: #5ccdea;
}

.project-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.project-container h3 {
  font-size: 7rem;
  color: #FA9129;
  font-weight: 700;
  margin-bottom: 7rem;
}
@media only screen and (max-width: 575px) {
  .project-container h3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 767px) {
  .project-container h3 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 992px) {
  .project-container h3 {
    margin-top: 10rem;
  }
}

.cards-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media only screen and (max-width: 992px) {
  .cards-wrapper {
    flex-direction: column;
    justify-content: center;
  }
}

.project-cards {
  background: linear-gradient(to right, #000000, #272738);
  width: 30%;
  line-height: 1.5;
  padding: 2rem;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  transition: all 0.5s ease;
}
@media only screen and (max-width: 992px) {
  .project-cards {
    width: 70%;
  }
}
.project-cards img {
  overflow: hidden;
}
.project-cards .cards-heading {
  margin-top: 2rem;
  font-size: 2rem;
  color: #bc5ae2;
  margin-bottom: 2rem;
}
.project-cards .project-content {
  font-size: 1.2rem;
}
.project-cards .project-content .project-keywords {
  color: #bc5ae2;
}
.project-cards .project-content .project-links {
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  color: #33b0a1e0;
}
.project-cards .project-content .project-links a:hover {
  color: #bc5ae2;
}

.project-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 5px 3px #406b6de0;
}

.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact h3 {
  font-size: 7rem;
  color: #FA9129;
  font-weight: 700;
  margin-bottom: 7rem;
}
@media only screen and (max-width: 767px) {
  .contact h3 {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
}
@media only screen and (max-width: 992px) {
  .contact h3 {
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 575px) {
  .contact h3 {
    font-size: 3rem;
  }
}

.contact-text {
  margin-top: 10rem;
}

.contact-container {
  border-radius: 5px;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

.form-container {
  display: flex;
  padding: 3rem;
}

.left-container {
  display: flex;
  flex: 1;
  height: 460px;
  justify-content: center;
  align-items: center;
}
.left-container h2 {
  color: #C25C20;
}

.right-container {
  display: flex;
  flex: 1;
  height: 460px;
  border: 1px solid rgba(119, 53, 136, 0.459);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.right-container h2 {
  color: #C25C20;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.right-inner-container {
  width: 75%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
}
.left-inner-container h2 {
  font-size: 2.5rem;
}
.left-inner-container p {
  font-size: 1.5rem;
}

form .field {
  width: 100%;
  position: relative;
  margin-bottom: 1.5rem;
}
form .field input[type=text],
form .field textarea {
  border: none;
  width: 100%;
  height: 64px;
  margin: 0;
  padding-left: 19.5%;
  color: #313a3d;
}
form .field label {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #0f0f10, #211930);
  color: #B1ACAC;
  width: 100%;
  height: 64px;
  transition: 0.5s ease-in-out;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 1.5rem;
}
@media only screen and (max-width: 767px) {
  form .field label {
    font-size: 1rem;
  }
}

form #msg {
  transition: all 333ms ease-in-out;
  padding-top: 2rem;
}

form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 140px;
}

form input[type=text]:focus + label,
form input[type=text]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 20%;
}

form input[type=submit] {
  background: #C25C20;
  color: #ECECEB;
  -webkit-appearance: none;
  border: none;
  position: relative;
  width: 30%;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

form input[type=submit]:hover,
form input[type=submit]:focus {
  background: #33b0a1e0;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  input,
textarea {
    font-size: 1rem;
  }
}

input:focus,
textarea:focus {
  outline: 1px solid #625668;
}

@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }

  .large-view {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  .small-view {
    display: none;
  }
}
form p {
  text-align: left;
}

main {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
  color: #ECECEB;
}

h3 {
  text-align: center;
}

.page-breaker {
  margin-top: 15rem;
  margin-bottom: 15rem;
  background: linear-gradient(to right, #1b1b22, #C25C20);
  width: 100%;
  position: relative;
  padding: 1px;
}

/*# sourceMappingURL=main.css.map */
