$primary-color: #cac9e3f5;
$secondary-color:#0d0f15;
$icon-color:#9362ff;
$yellow-color:#dad81f;
$color-gradient: linear-gradient(to right, #f8f503 0%, #6f3be3 100%);

$font: "share-tech-mono";

$type-writer-speed : 4s;