$primary-color: #cac9e3f5;
$secondary-color:#000000;
$icon-color:#9362ff;
$yellow-color:#dad81f;
$color-gradient:  linear-gradient(to left bottom, #0e0d14, #302d32, #534e54, #7a7377, #a2999c, #b4a8aa, #c7b7b8, #dac6c5, #dabfbc, #d9b8b2, #d7b2a7, #d4ac9c);
$background-gradient: linear-gradient(to left bottom, #41343f, #473a46, #4e404e, #544755, #5a4d5d, #554a59, #504656, #4b4352, #3a3542, #2b2832, #1d1b23, #0e0d14);
$font: "share-tech-mono";

$type-writer-speed : 4s;

//color palette
$black: #1b1b22;
$brown:#625668;
$gray:#B1ACAC;
$brick-red: #C25C20;
$orange: #FA9129;
$light-orange:#D19266;
$green: #33b0a1e0;
$white:#ECECEB;
