.container-about-me {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 2rem;  
  color: $primary-color;
  .developer-svg img{
    width: 90%;
    height: 90%;
    transform: translate(100,50);
  }
  h3{
    font-size: 2.5rem;
    color: $yellow-color;
  }
  p{
    font-family: monospace;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}


