.about {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .about-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15rem;
    margin-bottom: 5rem;

    h3 {
      font-size: 8rem;
      font-weight: 700;
      color: $orange;

      @include lg-screen {
        font-size: 7rem;
      }
      @include sm-screen {
        font-size: 4rem;
      }
      @include xs-screen {
        font-size: 3rem;
      }
    }
  }

  .about-svg {
    width: 50%;
  }

  .about-text {
    width: 100%;
    p {
      font-size: 2rem;
      margin-bottom: 1.5rem;
      text-align: justify;

      a {
        color: $green;
      }

      a:hover {
        color: $orange;
      }

      @include xs-screen {
        font-size: 2rem;
      }

      @include sm-screen {
        font-size: 2rem;
      }

      @include md-screen {
        font-size: 2rem;
      }

      @include lg-screen {
        font-size: 2rem;
      }
    }
  }
}
