.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 7rem;
    color: $orange;
    font-weight: 700;
    margin-bottom: 7rem;

    @include sm-screen {
      font-size: 4rem;
      margin-bottom: 4rem;
    }
    @include md-screen {
      margin-top: 10rem;
    }

    @include xs-screen {
      font-size: 3rem;
    }
  }
}
.contact-text {
  margin-top: 10rem;
}
.contact-container {
  border-radius: 5px;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

.form-container {
  display: flex;
  padding: 3rem;
}

.left-container {
  display: flex;
  flex: 1;
  height: 460px;
  justify-content: center;
  align-items: center;
  h2 {
    color: $brick-red;
  }

  @include sm-screen {
    display: none;
  }
}

.right-container {
  display: flex;
  flex: 1;
  height: 460px;
  border: 1px solid rgba(119, 53, 136, 0.459);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  h2 {
    color: $brick-red;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.right-inner-container {
  width: 75%;
  text-align: center;

  .large-view {
    @include sm-screen {
      display: none;
    }
  }

  .small-view {
    @include large-screen {
      display: none;
    }
  }
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

form {
  .field {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    input[type="text"],
    textarea {
      border: none;
      width: 100%;
      height: 64px;
      margin: 0;
      padding-left: 19.5%;
      color: #313a3d;
    }
    label {
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to right, #0f0f10, #211930);
      color: $grey;
      width: 100%;
      height: 64px;
      transition: 0.5s ease-in-out;
      text-align: center;
      padding: 2.5rem 0;
      font-size: 1.5rem;
    }
  }
}

form #msg {
  transition: all 333ms ease-in-out;
  padding-top: 2rem;
}

form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 140px;
}

// form input[type="text"]:focus + label,
// form input[type="text"]:not(:placeholder-shown) + label,
// form textarea:focus + label,
// form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 25%;
}

form input[type="submit"] {
  background: $brick-red;
  color: $white;
  border: none;
  position: relative;
  width: 30%;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: $green;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

input:focus,
textarea:focus {
  outline: 1px solid $brown;
}

form p {
  text-align: left;
}
