.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container {
  background-color: #634d75;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form-container {
  display: flex;
  padding: 3rem;
}

.right-container {
  display: flex;
  flex: 1;
  height: 460px;
  background-color: $primary-color;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  flex: 1;
  height: 460px;
  justify-content: center;
  align-items: center;
  color: $secondary-color;
  background-color: #634d75;
}

.left-container p {
  font-size: 0.9rem;
}

.right-inner-container {
  width: 70%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  h2{
    font-size: 2rem;
  }
  p{
    font-size: 1.5rem;
  }
}

form {
  .field {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    input[type="text"],textarea{
      border: none;
      width: 100%;
      height: 64px;
      margin: 0;
      padding-left: 19.5%;
      color: #313a3d;
    }
  }
  label{
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #b13e8b, #372056);
  width: 100%;
  height: 64px;
  transition: 0.5s ease-in-out;
  text-align: center;
  padding: 2.5rem 0;
  }
}


form #msg {
  height: 64px;
  resize: none;
  transition: all 333ms ease-in-out;
  padding-top: 2rem;
}

form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 160px;
}
form input[type="text"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
}
form input[type="submit"] {
  background: linear-gradient(90deg, #b13e8b, #812d65);
  -webkit-appearance: none;
  border: none;
  position: relative;
  padding: 13px 50px;
  transition: all 0.5s ease-in-out;
  border-radius: 20px;
  color: $secondary-color;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: #a94b9e;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1rem;
}

// input:focus, textarea:focus{
//   outline:1px solid $yellow-color;
// }

.btn-form {
  border-radius: 20px;
  background-color: #62486f;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

.btn-form:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }
  .lg-view {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}

form p {
  text-align: left;
}
