.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h3 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: $black;
  }
}
.contact-container {
  background-color: $color-gradient;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

.form-container {
  display: flex;
  padding: 3rem;
}

.left-container {
  display: flex;
  flex: 1;
  height: 460px;
  justify-content: center;
  align-items: center;
  color: $white;
  background-color: $color-gradient;
}

.right-container {
  display: flex;
  flex: 1;
  height: 460px;
  background-color: $light-brown;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}

.right-inner-container {
  width: 75%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
}

form {
  .field {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
    input[type="text"],
    textarea {
      border: none;
      width: 100%;
      height: 64px;
      margin: 0;
      padding-left: 19.5%;
      color: #313a3d;
    }
  }
  label {
    position: absolute;
    top: 0;
    left: 0;
    background: $background-gradient;
    width: 100%;
    height: 64px;
    transition: 0.5s ease-in-out;
    text-align: center;
    padding: 2.5rem 0;
    font-size: 1.3rem;
    @include sm-screen{
      font-size: 1rem;
    }
  }
}



form #msg {  
  transition: all 333ms ease-in-out;
  padding-top: 2rem;
}

form textarea:focus#msg,
form textarea:not(:placeholder-shown)#msg {
  height: 140px;
}

form input[type="text"]:focus + label,
form input[type="text"]:not(:placeholder-shown) + label,
form textarea:focus + label,
form textarea:not(:placeholder-shown) + label,
form .field:hover label {
  width: 18%;
}
form input[type="submit"] {
  background: $background-gradient;
  color: $white;
  -webkit-appearance: none;
  border: none;
  position: relative;
  width: 30%;
  // padding: 1rem 2rem;
  transition: all 0.5s ease-in-out;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
form input[type="submit"]:hover,
form input[type="submit"]:focus {
  background: $color-gradient;
  color: $black;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: 1px solid $brown;
}

@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }
  .large-view {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .small-view {
    display: none;
  }
}

form p {
  text-align: left;
}
