.paragraph {
  background: linear-gradient( to right, rgba(249, 105, 14, 1) 0%, rgba(102, 51, 153, 1) 100% );
  height: 100px;
  color: rgba(249, 105, 14, 1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  font-size: 3rem;

}

.image-container{
  margin-left: 2em;
  img{
    height: 70vh;
  }
}

.landing-page-icons {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 10em;
  


}

.fab, .fas {
  color:  #75398c;
  font-size: 3rem;
  margin-right: 2em;
}