.intro {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  gap: 40px;
  position: relative;
  @include sm-screen {
    justify-content: unset;
    align-items: unset;
    gap: 0;
  }
  @include xs-screen {
    justify-content: unset;
    gap: 0;
  }
}

.intro::before {
  content: "";
  position: absolute;
  background-image: url("/src/img/intro.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 340px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.85;
  z-index: -1;
}

.about-container {
  color: $white;
  font-size: 3rem;
  margin-top: 15rem;
  align-self: flex-start;
  justify-self: flex-start;
  @include sm-screen {
    font-size: 2rem;
    margin-top: 10rem;
  }
}

.name {
  h2 {
    position: relative;
    width: max-content;
    letter-spacing: 0.5rem;
    font-size: 5rem;
    .full-name {
      color: $orange;
    }
    @include lg-screen {
      font-size: 5rem;
    }
    @include sm-screen {
      font-size: 2.5rem;
    }
    @include xs-screen {
      font-size: 2rem;
    }
  }
}

.name h2::before,
h2::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.name h2::before {
  background: $black;
  animation: typewriter $type-writer-speed steps(20) 1s forwards;
}

.name h2::after {
  width: 0.125em;
  background: $primary-color;
  animation: typewriter $type-writer-speed steps(20) 1s forwards,
    blink 1s steps(20) infinite;
}

.info {
  margin-top: 0.5em;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc($type-writer-speed + 1.5s) forwards;
  margin-bottom: 3rem;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.landing-page-icons {
  display: flex;
  gap: 45px;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  height: 50%;
  @include sm-screen {
    height: 25%;
  }

  .fab,
  .fas {
    color: $orange;
    font-size: 3rem;
    transition: all 0.3s ease-in-out;
    @include sm-screen {
      font-size: 2rem;
    }
  }

  .fab:hover,
  .fas:hover {
    color: $green;
    transform: scale(1.5);
  }
}
