.nav-bar ul{
  display: flex;
  justify-content: flex-end;
  gap: 10%;
  align-items: center;
  height: 15vh;
  .main-nav{
    flex-wrap: wrap;
    flex-direction: row;
  }
  .nav-list {
    background: linear-gradient( to right, rgba(249, 105, 14, 1) 0%, rgba(102, 51, 153, 1) 100% );
    color: rgba(249, 105, 14, 1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
  }
}