.project-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project-text {
  font-size: 2.5rem;
  color: $yellow-color;
  margin-bottom: 3rem;
}

.images {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
  }
}
.image {
  max-width: 500px;
  min-height: 500px;
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 370px;
}
