.project-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .project-heading{
    margin-top: 2rem;
    font-size: 7rem;
    color: $orange;
    margin-bottom: 2rem;
  }
}

.cards-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  @include md-screen {
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
}

.project-cards {
  background: linear-gradient(to right, #000000, #272738);
  width: 30%;
  line-height: 1.5;
  box-shadow: 0 4px 5px 3px rgba(119,53,136,.459);
  img {
    overflow: hidden;
  }

  .cards-heading{
    margin-top: 2rem;
    font-size: 2rem;
    color: $orange;
    margin-bottom: 2rem;
  }

  .project-content {
    background: $black;
    padding: 1rem;
    font-size: 1.2rem;
  }

  a {
    color: $green;
    font-size: 2rem;
  }



  @include md-screen {
    width: 50%;
  }
}
