.project-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  
  @include lg-screen {
    flex-direction: column;
    justify-content: center;
  }
}

.project-cards {
  background: linear-gradient(to right, #000000, #272738);
  width: 30%;
  line-height: 1.5;
  padding: 2rem;
  box-shadow: 0 4px 5px 3px rgba(119, 53, 136, 0.459);
  transition: all 0.5s ease;

  @include lg-screen {
    width: 50%;
  }

  img {
    overflow: hidden;
  }

  .cards-heading {
    margin-top: 2rem;
    font-size: 2rem;
    color: $purple;
    margin-bottom: 2rem;
  }

  .project-content {
    font-size: 1.2rem;

    .project-keywords {
      color: $purple;
    }

    .project-links {
      display: flex;
      gap: 45px;
      align-items: center;
      justify-content: flex-end;
      padding: 1rem;
      color: $green;
    }

    .project-links a:hover {
      color: $purple;
    }
  }
}

.project-cards:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 5px 3px $light-green;
}
