.skills-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  @include lg-screen {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  h3 {
    font-size: 2.5rem;
    color: $black;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  p {
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.skills-text {
  width: 50%;
  @include lg-screen{
    width: 90%;
  }
}

.skill-sets {
  div {
    border-radius: 50%;
  }
  @include lg-screen{
    width: 50%;
    align-self: center;
  }
  @include sm-screen{
    width: 60%;
    align-self: center;
  }
  @include xs-screen{
    width: 100%;
    align-self: center;
  }
}

.circle1 {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: $white;
}

.circle2 {
  transform: translate(18%, 18%);
  width: 300px;
  height: 300px;
  background-color: $white;
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgb(53 41 67 / 90%);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
}

.circle3 {
  transform: translate(25%, 25%);
  width: 200px;
  height: 200px;
  position: relative;
  background-color: $white;
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgb(53 41 67 / 90%);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  .skill-icons {
    position: absolute;
    font-size: 4rem;
  }
}

.icon1 {
  top: -2px;
  left: 82px;
  color: #dd4b24;
}

.icon2 {
  bottom: -10px;
  left: 82px;
  color: #2791eb;
}

.icon3 {
  top: 70px;
  left: 82px;
  color: #efd81d;
}

.icon4 {
  top: -107px;
  left: 85px;
  color: #5ccdea;
}
.icon5 {
  top: 0;
  left: 180px;
  color: #8512f3;
}
.icon6 {
  left: -92px;
  top: 72px;
  color: #d61b15;
}

.icon7 {
  bottom: 0px;
  right: 180px;
  color: #5e9255;
}

.icon8 {
  bottom: -7px;
  left: 180px;
  color: #cf649a;
}

.icon9 {
  top: -15px;
  left: -10px;
  color: #c13533;
}
.icon10 {
  right: -92px;
  top: 72px;
  color: white;
}

.icon11 {
  bottom: -107px;
  left: 85px;
  color: #f29100;
}
