.skills-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  @include lg-screen {
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }

  h3 {
    font-size: 2.5rem;
    color: $black;
    font-weight: 700;
    margin-bottom: 3rem;
  }
  p {
    font-family: monospace;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.skills-text {
  width: 50%;
  @include lg-screen {
    width: 90%;
  }
}

// .skill-sets {
//   div {
//     border-radius: 50%;
//   }
//   @include lg-screen{
//     width: 50%;
//     align-self: center;
//   }
//   @include sm-screen{
//     width: 60%;
//     align-self: center;
//   }
//   @include xs-screen{
//     width: 100%;
//     align-self: center;
//   }
// }

// .skill-sets {
//   div {
//     border-radius: 50%;
//   }
// }

.circle1 {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #0e0d14;
}

.circle2 {
  transform: translate(18%, 18%);
  width: 300px;
  height: 300px;
  background-color: #090909;
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgb(53 41 67 / 90%);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
}

.circle3 {
  transform: translate(25%, 25%);
  width: 200px;
  height: 200px;
  position: relative;
  background-color: #141219;
  box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
  -webkit-box-shadow: 0px -13px 101px 6px rgb(53 41 67 / 90%);
  -moz-box-shadow: 0px -13px 101px 6px rgba(230, 221, 15, 0.75);
}
.skill-icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50px;
  background-color: $black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  // animation: zoom-in-zoom-out 3s ease-out infinite;
}

// @keyframes zoom-in-zoom-out {
//   0% {
//     transform: scale(1, 1);
//   }
//   50% {
//     transform: scale(1.2, 1.2);
//   }
//   100% {
//     transform: scale(1, 1);
//   }
// }

.icon1 {
  top: 0px;
  left: 0px;
  color: #f494e5;
}

.icon2 {
  top: 0px;
  right: 0px;
  color: #fe5d39;
}

.icon3 {
  bottom: 0px;
  left: 0px;
  color: white;
}

.icon4 {
  bottom: 0px;
  right: 0px;
  color: #f29100;
}
.icon5 {
  top: 0;
  left: 0px;
  color: #5ccdea;
}
.icon6 {
  top: 0;
  right: 0px;
  color: #8512f3;
}

.icon7 {
  bottom: 0px;
  right: 0px;
  color: #d61b15;
}

.icon8 {
  bottom: 0px;
  left: 0px;
  color: #5e9255;
}

.icon9 {
  top: 0px;
  left: 0px;
  color: #c13533;
}
.icon10 {
  top: 0px;
  right: 0px;
  color: #2791eb;
}

.icon11 {
  top: 40%;
  left: 40%;
  color: #efd81d;
}

.icon12 {
  bottom: 0px;
  left: 0px;
  color:#f25cf2;
}

.icon13 {
  bottom: 0px;
  right: 0px;
  color:#361a6f;
}
