@import "./abstracts/variables";
@import "./abstracts/mixins";
@import "./base/reset";
@import "./base/typography";
@import "./layout/header";
@import "./layout/navigation";
@import "./components/buttons";
@import "./layout/about";
@import "./layout/skills";
@import "./layout/project";
@import "./layout/forms";

main {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
  color: $white;
}

// @include lg-screen{
//   section{
//     margin-top: 10rem;
//   }
// }

// @include sm-screen {
//   body {
//     max-width: 1280px;
//     padding: 0;
//   }
// }

h3 {
  text-align: center;
}

.page-breaker {
  margin-top: 15rem;
  margin-bottom: 15rem;
  background: linear-gradient( to right, $black, $brick-red );
  width: 100%;
  position: relative;
  padding: 1px;
}