@import './abstracts/variables';
@import './base/reset';
@import './base/typography';
@import './layout/header';
@import './layout/navigation';
@import './components/buttons';
@import './layout/about';
@import './layout/skills';
@import './layout/project';
@import './layout/forms';


body {
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
  color: $white;
}